<h1>Micro:bit</h1>

<button *ngIf="!(microbitService.isConnected$ | async)"
        mat-raised-button
        color="primary"
        (click)="connect()">
  Connect
</button>

<form *ngIf="microbitService.isConnected$ | async"
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit()">

  <section>
    <h3>Speed</h3>
    <mat-slider
      class="slider"
      label="Speed"
      [formControl]="bpm"
      [max]="300"
      [min]="30"
      [step]="1">
    </mat-slider>
    <label>{{bpm.value}} BPM</label>
  </section>

  <section>
    <h3>Tap 8 beats</h3>
    <button mat-raised-button
            color="primary"
            (click)="tap()">
      Tap ({{ bpmService.nextBeatNumber$ | async }})
    </button>
  </section>

</form>
